Exercice_0310/exemple-basique-2.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT livres (livre+)>
<!ELEMENT livre (auteur, titre)>
<!ATTLIST livre    
    isbn CDATA #REQUIRED
    genre CDATA #REQUIRED>
<!ELEMENT auteur (prenom, nomDeFamille)>
<!ATTLIST auteur
    nationalite CDATA #REQUIRED>
<!ELEMENT prenom (#PCDATA)>
<!ELEMENT nomDeFamille (#PCDATA)>
<!ELEMENT titre (#PCDATA)>